/* Estilos de la pagina de contacto */
@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia-Regular.ttf);}

@font-face {
    font-family: Karantina;
    src: url(../fonts/Karantina-Regular.ttf);}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);}

@font-face {
    font-family: IntknutAntiqua;
    src: url(../fonts/InknutAntiqua-Light.ttf);}

/* Letras por defecto */
html{
    scroll-behavior: smooth;
    font-family: Inter, Arial, serif;}
/* Disposicion del body */
body{margin: 0;
    margin-top: 13vh;
    margin-bottom: 22vh;
    background-image: url(../images/baratie_room.png);
    background-size: 110%;
}
/* Mismo encabezado que las demas paginas */
#header_history_page{
    position: fixed; 
    top: 0;
    display: grid;
    height: 10vh;
    width: 100%;
    grid-template-columns: 1fr 6fr;
}
/* Logo de la pagina */
#Logo_column_history{
    background-color: rgba(248, 248, 248, 1);
    align-items: center;
}
.Logo_principal{
    height: 10vh;
    width: auto;
}
/* Columna del nombre*/
#Name_column{
    display: flex;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}
.Restaurant_name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}
.Restaurant_name h1{
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 14vw;
    text-align: center;
    font-size: 2.6vw;
    font-family: Revalia, serif;
}

/* Atributos del contenedor del contacto con la pagina por parte del usuario*/
#contacto-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}
/* Font para los campos del formulario*/
#contacto-container, input {
    font-family: Revalia, serif;
}
/* Titulo del formulario */
#contacto-container h2 {
    margin-top: 0;
    font-size: 1.4vw;
}
/* Cuerpo del formulario */
form {
    width: 100%;
    max-width: 600px;
}
/* Cuerpo de los campos y botones */
input, #consulta, #submit, #delete {
    width: 100%;
    padding: 3%;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #cfcfcf;
    border: 0;
}
#consulta {
    height: 20vh;
    font-family: Revalia, serif;
    resize: none;
}
#submit {
    background-color: rgb(229, 168, 41); /* Nuevo color de fondo del botón */
    color: white; /* Color del texto del botón */
    font-size: 1vw;
}
#submit:hover {
    background-color: rgb(200, 150, 50);
}
#submit, #delete {
    font-family: Revalia, serif;
    font-size: 1vw;
    color: white;
    cursor: pointer;
}
#delete {
    background-color: rgba(187, 161, 136, 1);
    cursor: pointer;
}
#delete:hover {
    background-color: rgba(160, 161, 136, 1);
}


/* Nueva regla para alinear en la misma fila email y telefono */
.flex-container {
    display: flex;
    gap: 8px;
}

label {
    display: none;
}
/*Codigo del menu hamburguesa*/
.topnav {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

}
#logo_topnav {
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 20px;

}
#logo_topnav:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
}
#myLinks {
    height: 65vh;
    text-align: center;
    position: absolute;
    right: 0;
    width: 21vw;
    background-color: #fff; /* Color de fondo de los enlaces */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    background-color: rgb(241, 179, 63);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px white;
}
#logo_m_h{
    width: 100px;
    height: 100px;
}
#logo_m_h:hover{
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
    cursor: pointer;
}
.Restaurant_name a{
    color: black;
}
#Restaurant_name a:active{
    color: black;
}
.topnav a, #contenedor_texto_contacto_mh a {
    font-family: Inter;
    color: white;
    padding: 14px 16px;
    font-size: 18px;
    display: block;
}
.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.Restaurant_name a:link, .topnav a:link, #contenedor_texto_contacto_mh a:link {
    text-decoration: none;
}
.topnav a:hover, #contenedor_texto_contacto_mh a:hover {
    color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}
#Contenedor_redes_mh{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.redes_mh{
    width: 50px;
    height: 50px;
}
#contenedor_texto_contacto_mh{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}
#contenedor_texto_contacto_mh a{
    font-size: 14px;
}
#Boton_reserva_mh{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(241, 179, 63);
    background-color: black;
    border: 2px solid white;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    height: 45px;
}
#Boton_reserva_mh:hover{
    cursor: url("images/one_piece_logo_small.png"), pointer;
    background-color: #333333;
    color: white;
    text-shadow: 0px 0px 3px white;
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.96);
    box-shadow: 0px 0px 10px white;
}

/* Seccion de breakpoints para la pagina en version movil/tableta */
@media (max-width: 980px) {
    .Restaurant_name h1 {
        font-size: 1.25em;
    }
    form {
        max-width: 950px;
    }
    input {
        font-size: 0.75em;
    }
    #delete, #submit {
        font-size: 0.75em;
    }
    #contacto-container h2 {
        font-size: 0.85em;
    }
    #contacto-container img {
        width: 50%;
    }
    .Icon_footer {
        width: 12%;
        height: 24%;
    }
    p {
        font-size: 0.75em;
    }
    #contacto-container {
        width: 50%;
    }
}
@media (max-width: 768px) {
    #registro-container h2 {
        font-size: 1em;
    }
    #contacto-container {
        height: 50vh;
        width: 85%;
        margin-top: 45%;
        padding: 4%;
    }
}
@media (max-width: 600px) {
    #contacto-container {
        margin-top: 20%;
        height: 60vh;
    }
    #contacto-container h2 {
        font-size: 1em;
    }
}

