/*Esta es la hoja de estilos de nuestra página web*/
/*Proyecto realizado por Iván Expósito, Tomás Mendizabal, Ilias El Hanouch y Alejandro Díaz*/

@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia-Regular.ttf);}

@font-face {
    font-family: Karantina;
    src: url(../fonts/Karantina-Regular.ttf);}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);}

html{font-family: Inter, Arial;}

body{margin: 0;}

#header_main_page{
    display: grid;
    height: 20vh;
    width: 100%;
    grid-template-columns: 1fr 6fr;
}

#Logo_column{
   background-color: rgba(248, 248, 248, 1);
   align-items: center;
}

.Logo_principal{
    height: 20vh;
    width: auto;
}

#Name_column{
    display: flex;
    justify-content: space-around;
    background-color: rgba(248, 248, 248, 1);
}

.Restaurant_name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Restaurant_name h1{
    margin-top: 0;
    margin-bottom: 2px;
    text-align: center;
    font-size: 3vw;
    font-family: Revalia;
}

.Restaurant_name p{
    margin-top: 5px;
    margin-bottom: 0;
    text-align: center;
}

.links_page{
    display: flex;
    align-items: center;
    justify-content: center;
}

.links_page ul{
    list-style-type: none;
    text-align: center;
    color: rgb(229,168,41); 
}

.links_page li:hover{
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.9);

}

.links_page a:link{
    color: rgb(229,168,41);
    text-decoration: none;
}

.links_page a:visited{
    color:rgb(229,168,41);
    text-decoration: none;
}

#Pagina_Botones{
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    height: 70vh;
    width: 100%;
    background-image: url(../images/background_life_action_less.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.Contenedor_pagina_botones, .Titulo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.Contenedor_pagina_botones p{
    font-family: Karantina;
    font-size: 5em;
}

#Imagen_logo_OP_grande{
    height: 15vh;
}

.Contenedor_botones_main{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5vw;
}

.boton_pagina_botones{
    width: 17vw;
    height: 45px;
    font-size: 2vh;
    border: 1px solid black;
    background-color: rgba(187, 161, 136, 1);
}

.boton_pagina_botones:hover{
    cursor: pointer;
    background-color: rgb(229,168,41);
    transition: all 0.5s cubic-bezier(0.06, 1, 0.22, 1);
}


#Pagina_Carta{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-rows: 150px 1fr;
    background-image: url(../images/pirates_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.Titulo h1, .cuadrado_carta p{
    font-family: Karantina;
    font-size: 7em;
}

#contenedor_elementos_carta{
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.cuadrado_carta{
    width: 25%;
    height: 60vh;
    padding-left: 2%;
}

.cuadrado_carta img{
    width: 90%;
    height: 90%;
    border-radius: 20px;
    object-fit: cover;
}

.cuadrado_carta p{
    margin-top: 10px;
    font-size: 4em;
    text-align: center;
    font-weight: 600;
}

/*Codigo del footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 97px;
    width: 100%;
    margin-right: 10px;
    background-color: rgb(229,168,41);
}

#contenedor_redes_footer, #contenedor_texto_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Revalia;
    font-weight: 600;
}

.Icon_footer{
    height: 45px;
    width: 45px;
}

.Icon_footer:hover{
    cursor: pointer;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
}

/*Codigo del menú hamburguesa*/
.topnav {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;

}

#logo_topnav {
    height: 40px;
    width: 40px;
    display: block;
    margin-top: 20px;

}

#logo_topnav:hover {
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
}
#myLinks {
    height: 65vh;
    text-align: center;
    position: absolute;
    right: 0;
    width: 20vw;
    background-color: #fff; /* Color de fondo de los enlaces */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    display: none;
    background-color: rgb(241, 179, 63);
    border-radius: 0px 0px 10px 10px;
    box-shadow: 0px 0px 5px white;
}

#logo_m_h{
    width: 100px;
    height: 100px;
}
#logo_m_h:hover{
    transition: all 0.6s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
    cursor: pointer;
}

.Restaurant_name a{
    color: black;
}

#Restaurant_name a:active{
    color: black;
}

.topnav a, #contenedor_texto_contacto_mh a {
    font-family: Inter;
    color: white;
    padding: 14px 16px;
    font-size: 18px;
    display: block;
}

.topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

.Restaurant_name a:link, .topnav a:link, #contenedor_texto_contacto_mh a:link {
    text-decoration: none;
}

.topnav a:hover, #contenedor_texto_contacto_mh a:hover {
    color: black;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
}

#Contenedor_redes_mh{
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.redes_mh{
    width: 50px;
    height: 50px;
}

#contenedor_texto_contacto_mh{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

#contenedor_texto_contacto_mh a{
    font-size: 14px;
}

#Boton_reserva_mh{
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: rgb(241, 179, 63);
    background-color: black;
    border: 2px solid white;
    margin: auto;
    margin-top: 10px;
    border-radius: 20px 20px 20px 20px;
    width: 50%;
    height: 45px;
}

#Boton_reserva_mh:hover{
    cursor: url("images/one_piece_logo_small.png"), pointer;
    background-color: #333333;
    color: white;
    text-shadow: 0px 0px 3px white;
    transition: all 0.1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.96);
    box-shadow: 0px 0px 10px white;
}