@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia-Regular.ttf);}

@font-face {
    font-family: Karantina;
    src: url(../fonts/Karantina-Regular.ttf);}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);}

@font-face {
    font-family: IntknutAntiqua;
    src: url(../fonts/InknutAntiqua-Light.ttf);}

html{
    scroll-behavior: smooth;
    font-family: Inter, Arial;}

body{margin: 0;
    margin-top: 13vh;
    margin-bottom: 24vh;}

#header_page{
    position: fixed; /* Fija el encabezado en la posición especificada */
    top: 0;
    display: grid;
    height: 10vh;
    width: 100%;
    grid-template-columns: 1fr 6fr;
}

#Logo_column{
    background-color: rgba(248, 248, 248, 1);
    align-items: center;
}

.Logo_principal{
    height: 10vh;
    width: auto;
}

#Name_column{
    display: flex;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}

.Restaurant_name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.Restaurant_name h1{
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 14vw;
    text-align: center;
    margin-right: 14vw;
    font-size: 2.6vw;
    font-family: Revalia;
}

.container-carta {
    /*Contenedor de la carta*/
    font-family: Karantina, "Trebuchet MS", "Cy Grotesk Grand Dark", 'Revans', 'Century Gothic', serif;
    display: grid;
    grid-template-rows: repeat(4,auto);
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.container-carta h2 {
    font-family: Karantina;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.entrantes, .principales, .postres, .cocteles{
    margin-bottom: 5%;
}

.titulo_seccion_platos {
    font-family: Karantina, Revans, 'Century Gothic', sans-serif;
    color: black;
}

.platos-container {
    /* Contenedor de platos */
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.plato {
    /*Atributos para cada uno de los platos*/
    display: grid;
    text-align: center;
    grid-template-columns: 33% 67%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    height: 10em;
}

.texto_plato{
    display: grid;
    grid-template-rows: 29% 40% 31%;
}

.nombre_plato {
    padding-top: 2%;
    padding-left: 5%;
    font-size: 2em;
    text-align: left;
}

.descripcion_plato {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: 1em;
    text-align: left;
    font-family: Inter;
}

.parametros {
    display: grid;
    grid-template-columns: 60% 40%;
}

.precio{
    font-size: 2.25em;
    text-align: left;
    padding-left: 9%;
}

.botones {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    place-content: center;
    place-items: center;
    padding-bottom: 5%;
    padding-right: 5%;
}
.boton_producto {
    display: inline-block;
    border-radius: 35%; /* Hace que el botón sea circular */
    background-color: rgb(229,168,41); /* Puedes cambiar el color de fondo según tus preferencias */
    color: #ffffff; /* Puedes cambiar el color del texto según tus preferencias */
    width: 1.25em; /* Ajusta el ancho según tus necesidades */
    height: 1.25em; /* Ajusta la altura según tus necesidades */
    text-align: center;
    font-size: 2em; /* Ajusta el tamaño del texto según tus necesidades */
    text-decoration: none;
}

.contador{
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
}

.continuar_pedido{
    text-align: center;
}
/* Estilos del botón */
.boton-carrito {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.75em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px; /* Ajusta este valor para redondear más o menos las esquinas */
    background-color: rgb(229,168,41);; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    border: 1px solid black;; /* Color del borde del botón */
}

/* Cambia el color del botón al pasar el mouse sobre él */
.boton-carrito:hover {
    background-color: rgb(204, 147, 26);
    border: 1px solid black;
}


.txt_plato {
    padding: 10px;
    background-color: #ca8e49;
}
.info_plato {
    padding: 2%;
    font-size: 0.75em;
    color: white;
    overflow-y: auto;
}
.opciones {
    /* Opciones de anadir o quitar del plato */
    display: flex;
    justify-content: center;
    padding: 1%;
}
button {
    /*Atributos para los botones en general*/
    display: flex;
    background-color: #ca8e49;
    color: white;
    padding: 2%;
    margin: 1.75%;
    cursor: pointer;
    border: 1px solid #ccc;
}
.opciones button {
    /*Atributos para los botones de los platos*/
    padding: 1.65%;
    font-family: Karantina, Revans, 'Century Gothic', sans-serif;
}
/* Botones deshabilitados */
.opciones button:disabled, .button:hover:disabled {
    /*Atributos para los botones de los platos al estar desactivados en 'quitar' por cantidad*/
    opacity: 0.5;
    cursor: not-allowed;
}
.opciones button:hover {
    opacity: 0.75;
}












.Contenedor_producto{
    display: grid;
    grid-template-columns: 18vh 7vh;
    width: 25%;
    height: 15vh;
    background-color: rgb(229,168,41);
    border-radius: 2%;
    border: 1px solid black;
}

.Columna_nombre{
    display: grid;
    grid-template-rows: 14vh 5vh;
}

.Columna_nombre p{
    text-align: center;
    font-size: 1.8vw;
    order: 2;
    font-family: Karantina;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Columna_contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Columna_contador button{
    border-radius: 50%;
    border: 0;
    height: 50px;
    width: 50px;
}

.Columna_contador button:hover{
    cursor: pointer;
    background-color: gray;
    border: 1px solid black;
}

.Columna_contador p{
    font-size: 2.5em;
}

.Foto_comida {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center; /* O ajusta según sea necesario */
    display: block; /* Asegura que la imagen se comporte como un elemento de bloque */
}




/*Codigo del footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 97px;
    width: 100%;
    margin-right: 10px;
    background-color: rgb(229,168,41);
}

#contenedor_redes_footer, #contenedor_texto_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Revalia;
    font-weight: 600;
}

.Icon_footer{
    height: 45px;
    width: 45px;
}

.Icon_footer:hover{
    cursor: pointer;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
}