@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia-Regular.ttf);}

@font-face {
    font-family: Karantina;
    src: url(../fonts/Karantina-Regular.ttf);}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);}

@font-face {
    font-family: IntknutAntiqua;
    src: url(../fonts/InknutAntiqua-Light.ttf);}

html{
    scroll-behavior: smooth;
    font-family: Inter, Arial;}

body{margin: 0;
    margin-top: 13vh;}

#header_page{
    position: fixed; /* Fija el encabezado en la posición especificada */
    top: 0;
    display: grid;
    height: 10vh;
    width: 100%;
    grid-template-columns: 1fr 6fr;
    z-index: 2;
}

#Logo_column{
    background-color: rgba(248, 248, 248, 1);
    align-items: center;
}

.Logo_principal{
    height: 10vh;
    width: auto;
}

#Name_column{
    display: grid;
    grid-template-columns: 87% 5% 5%;
    grid-gap:15px;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
    position: relative;
}

.Restaurant_name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.Restaurant_name h1{
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 14vw;
    text-align: center;
    margin-left: 13vw;
    font-size: 2.6vw;
    font-family: Revalia;
}

#carrito-header {
    display: flex   ;
    align-items: center;
    font-family: Inter, serif;
    font-size: 1em;
    text-align: center;
    position: relative;
}

#carrito-header {
    cursor: pointer;
    transform: scale(0.9);
}

#carrito-header img {
    width: 45px;
    height: 48px;
    position: relative;
    margin: auto;
}

#contador_carrito {
    z-index: 1;
    font-family: Karantina ,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    justify-content: center;
    width: 100%;
    margin-bottom: 31px;
    margin-left: 1px;
    font-size: 1.5em;
}

#Pagina_carta{margin-bottom: 15vh;}

.container-carta {
    /*Contenedor de la carta*/
    font-family: Karantina, "Trebuchet MS", "Cy Grotesk Grand Dark", 'Revans', 'Century Gothic', serif;
    display: grid;
    grid-template-rows: repeat(4,auto);
    text-align: center;
    padding-top: 3%;
    padding-left: 3%;
    padding-right: 3%;
}

.container-carta h2 {
    font-family: Karantina;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 10px 0;
}

.entrantes, .principales, .postres, .cocteles{
    margin-bottom: 5%;
}

.titulo_seccion_platos {
    font-family: Karantina, Revans, 'Century Gothic', sans-serif;
    color: black;
}

.platos-container {
    /* Contenedor de platos */
    display: grid;
    grid-template-rows: repeat(2, 10em);
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.plato {
    /*Atributos para cada uno de los platos*/
    display: grid;
    text-align: center;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.texto_plato{
    display: grid;
    grid-template-rows: 29% 40% 31%;
}

.nombre_plato {
    padding-top: 2%;
    padding-left: 5%;
    font-size: 2em;
    text-align: left;
}

.descripcion_plato {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    font-size: 1em;
    text-align: left;
    font-family: Inter;
}

.parametros {
    display: grid;
    grid-template-columns: 60% 40%;
}

.precio{
    font-size: 2.25em;
    text-align: left;
    padding-left: 9%;
}

.botones {
    display: grid;
    grid-template-columns: 33% 34% 33%;
    place-content: center;
    place-items: center;
    padding-bottom: 5%;
    padding-right: 5%;
}

.boton_producto {
    display: inline-block;
    border-radius: 35%; /* Hace que el botón sea circular */
    background-color: rgb(229,168,41); /* Puedes cambiar el color de fondo según tus preferencias */
    color: #ffffff; /* Puedes cambiar el color del texto según tus preferencias */
    width: 1.25em; /* Ajusta el ancho según tus necesidades */
    height: 1.25em; /* Ajusta la altura según tus necesidades */
    text-align: center;
    font-size: 2em; /* Ajusta el tamaño del texto según tus necesidades */
    text-decoration: none;
}

.boton_producto:hover {
    background-color: white;
    color: rgb(229,168,41);
}

.remove:disabled, .remove:disabled:hover {
    background-color: rgb(229,168,41);
    color: white;
    opacity: 0.5;
    cursor: not-allowed;
}

.contador{
    font-size: 2.5em;
    text-align: center;
    line-height: 1em;
}

.continuar_pedido{
    text-align: center;
}
/* Estilos del botón */
.boton-carrito {
    display: inline-block;
    padding: 10px 30px;
    font-size: 1.75em;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 25px; /* Ajusta este valor para redondear más o menos las esquinas */
    background-color: rgb(229,168,41);; /* Color de fondo del botón */
    color: black; /* Color del texto del botón */
    border: 1px solid black;; /* Color del borde del botón */
}

/* Cambia el color del botón al pasar el mouse sobre él */
.boton-carrito:hover {
    background-color: rgb(204, 147, 26);
    border: 1px solid black;
}


button {
    /*Atributos para los botones en general*/

    background-color: #ca8e49;
    color: white;
    padding: 2%;
    margin: 1.75%;
    cursor: pointer;
    border: 1px solid #ccc;
}

.Foto_comida {
    width: 100%;
    height: 10em;
    object-fit: cover;
    object-position: center center; /* O ajusta según sea necesario */
    display: block; /* Asegura que la imagen se comporte como un elemento de bloque */
}


/*Codigo de la PAGINA DE CARRITO*/
#Titulo{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-top: 5%;
    height: 10vh;
    width: 100%;
}


#Titulo h1{
    font-size: 5em;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: Karantina;
}

.horizontal_line {
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    display: flex;
    text-align: center;
    align-items: center;
}

.horizontal_line_2 {
    width: 95%; /* Ajusta el ancho del contenedor según tus necesidades */
    display: flex;
    text-align: center;
    align-items: center;
}

.horizontal_line_3 {
    width: 100%; /* Ajusta el ancho del contenedor según tus necesidades */
    display: flex;
    text-align: center;
    align-items: center;
}


.horizontal_line hr {
    border: 2px solid #333; /* Grosor y color de la línea */
    border-radius: 5% 5% 5% 5% ;
    width: 93%;
}

.horizontal_line_2 hr {
    border: 1px solid #333; /* Grosor y color de la línea */
    border-radius: 5% 5% 5% 5% ;
    width: 93%;
}

.horizontal_line_3 hr {
    border: 1px solid #D3D3D3; /* Grosor y color de la línea */
    border-radius: 5% 5% 5% 5% ;
    width: 93%;
}

#titulo_resumen {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    padding-top: 1.5%;
    place-content: center;
    place-items: center;
}
#titulo_resumen h2 {
    margin:0;
    padding: 0;
}
.contenedor_titulo_resumen{
    place-items: center;
    place-content: center;
    text-align: center;
}

#Pagina_carrito{
    width: 100%;
    height: 85vh;
    margin-bottom: 15vh;
}

#Contenedor_carrito_main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#Contenedor_resumen{
    display: grid;
    grid-template-rows:15% 70% 15%;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 75%;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#Contenedor_resumen h2, #Contenedor_resumen h3 {
    font-family: Karantina, serif;
    font-size: 3em;
    margin: 0;
    padding: 0;
    text-align: center;
}

#contenedor_articulos {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 0 0 4% 4%;
    overflow-y: auto;
    font-size: 1.25em;
    font-family: Inter,serif;
    font-weight: bold;
}

#precio_articulo {
    text-align: center;
}

#precio {
    display: grid;
    grid-template-rows: 5% 95%;
}

#columnas_precio {
    display: grid;
    grid-template-columns: 80% 20%;
    padding-top: 2%;
}
#texto_precio {
    padding-left: 5%;
    font-family: Karantina, serif;
    font-size: 3em;

}

#Contenedor_carrito_main {
    position: relative;
    width: 100%;
    height: 100%;
}

#Contenedor_video {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0.5; /* Establece la opacidad deseada */
}

#Contenedor_video img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir todo el contenedor */
}

#Contenedor_resumen {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#Contenedor_botones_carrito{
    display: flex;
    justify-content: center;
    align-items: center;
}

#Boton_modificar_pedido, #Boton_finalizar_pedido{
    width: 30%;
    text-align: center;
    background-color: rgb(49, 191, 173);
    font-size: 1.2em;
    font-family: Inter;
    font-weight: bold;
    border-radius: 45px 45px 45px 45px;
    border: 1px solid white;
    transition: background-color 0.5s ease;
}

#Boton_modificar_pedido:hover{
    cursor: pointer;
    background-color: rgb(18, 119, 106); /* Cambia al color que desees para el hover */
    box-shadow: 0 0 1px white;
    transform: translate(0, 0);
}

#Boton_finalizar_pedido:hover{
    cursor: pointer;
    background-color: rgb(207, 85, 145); /* Cambia al color que desees para el hover */
    box-shadow: 0 0 1px white;
    color: white;
    transform: translate(0, 0);
}

#Boton_modificar_pedido::before, #Boton_finalizar_pedido::before{
    content: '';
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* Inicialmente invisible */
    transition: opacity 0.3s ease; /* Agregamos una transición de opacidad para el fade */
}

#Boton_modificar_pedido:hover::before, #Boton_finalizar_pedido:hover::before{
    opacity: 1;
}

#Boton_finalizar_pedido{
    background-color: rgb(243, 239, 233);
    color: rgb(84, 139, 163);
}


/*Codigo ultima pagina EXITO*/

#Pagina_pedido_realizado {
    background-image: url(../images/baratie_room.png);
    background-size: cover;
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
    margin-bottom: 10vh;
    margin-top: 6vh;
}

#Contenedor_pedido_realizado {
    background-color: white;
    padding: 20px; 
    width: 45vw; 
    height: 60vh;
    text-align: center; 
    display: flex; /* Agrega flexbox para centrar los elementos internos */
    flex-direction: column; /* Apila los elementos verticalmente */
    justify-content: center; /* Centra verticalmente los elementos internos */
}

#Contenedor_pedido_realizado img {
    width: 47%;
    height: auto;
    margin-bottom: 10px; 
    align-self: center; /* Centra la imagen dentro del contenedor verticalmente */
}

#Contenedor_pedido_realizado h2 {
    text-align: center;
    font-family: Revalia;
    font-size: 2em;
}

#Boton_volver_main_page {
    text-align: center;
    align-self: center;
    /* Estilo del botón según tus necesidades */
    padding: 10px 20px;
    font-family: Inter;
    background-color: rgba(97, 142, 202, 1);
    color: rgba(248, 200, 0, 1);
    border: 1px solid black;
    border-radius: 45px 45px 45px 45px;
    font-size: 1.2em;
    width: 60%;
}

#Boton_volver_main_page:hover {
    background-color: rgba(62,90,155,0.9);
}

/*Codigo del footer*/
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 97px;
    width: 100%;
    margin-right: 10px;
    background-color: rgb(229,168,41);
    z-index: 2;
}

#contenedor_redes_footer, #contenedor_texto_footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-family: Revalia;
    font-weight: 600;
}

.Icon_footer{
    height: 45px;
    width: 45px;
}

.Icon_footer:hover{
    cursor: pointer;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.1);
}


