@font-face {
    font-family: Revalia;
    src: url(../fonts/Revalia-Regular.ttf);}

@font-face {
    font-family: Karantina;
    src: url(../fonts/Karantina-Regular.ttf);}

@font-face {
    font-family: Inter;
    src: url(../fonts/Inter-Regular.ttf);}

@font-face {
    font-family: IntknutAntiqua;
    src: url(../fonts/InknutAntiqua-Light.ttf);}

html{
    scroll-behavior: smooth;
    font-family: Inter, Arial;}

body{margin: 0;
    margin-top: 13vh;
    margin-bottom: 24vh;
    background-image: url(../images/baratie_room.png);
    background-size: 110%;
}
/* Encabezado  */
#header_book_table_page{
    position: fixed; /* Fija el encabezado en la posición especificada */
    top: 0;
    display: grid;
    height: 10vh;
    width: 100%;
    grid-template-columns: 1fr 6fr;
}

#Logo_column_book_table{
    background-color: rgba(248, 248, 248, 1);
    align-items: center;
}

.Logo_principal{
    height: 10vh;
    width: auto;
}

#Name_column{
    display: flex;
    justify-content: center;
    background-color: rgba(248, 248, 248, 1);
}

.page_name{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 98%;
}

.page_name h1{
    margin-top: 0;
    margin-bottom: 2px;
    margin-right: 14vw;
    text-align: center;
    font-size: 2.6vw;
    font-family: Revalia, serif;
    
}

/* Atributos del contenedor de la reserva de usuario*/
#book_table_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    padding: 2.5%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    margin: auto;
    margin-top: 10%;
}

#book_table_container, input {
    font-family: Revalia, serif;
}

#book_table_container h2 {
    margin-top: 0;
    font-size: 1.4vw;
}

#prueba {
    display: flex;
    flex-direction: column;
    gap: 0;
}
form {
    width: 100%;
    max-width: 600px;
}
/* diferentes campos de la reserva */
.campos_reserva {
    display: grid;
    grid-template-rows: repeat(2,auto);
    width: 100%;
    padding: 3%;
    margin-bottom: 16px;
    box-sizing: border-box;
    background-color: #cfcfcf;
    border: 0;
}
.contendor_info {
    display: grid;
    grid-template-columns: 90% 10%;
}
.contenido {
    display: flex;
    flex-direction: column;
}
.ciudades_dropdown:hover, .horas_dropdown:hover, .personas_dropdown:hover, .meses_dropdown:hover {
    opacity: 50%;
}

.dropdown_icon_down, .dropdown_icon_up, .dropdown_icon {
    right: 1px;
    cursor: pointer;
}
.not-allowed {
    cursor: not-allowed;
}
/* los dropdowns antes de ser accedidos */
.ciudades_dropdown, .horas_dropdown, .personas_dropdown, .meses_dropdown, #calendar{
    display: none;
    margin: 0;
    cursor: pointer;
}
/* atributos del calendario */
#calendar-body div.today {
    background-color: #f00;
    color: #fff;
}
#calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 1px;
    background-color: #333;
}
#ciudad_elegida, #mes_elegido, #dia_elegido, #hora_elegida, #personas_elegidas {
    margin-left: 11%;
}
.change-month {
    cursor: pointer;
}

#num_dias_down:disabled {
    cursor: not-allowed;
}
/* el icono de dropdown para bajar y subir */
.dropdown_icon_down, .dropdown_icon_up, .ciudad_icon, .dropdown_icon{
    width: 25px;
    height: 25px;
}
.dropdown_icon_up{
    display: none;
}


#submit {
    background-color: rgb(229, 168, 41); /* Nuevo color de fondo del botón */
    color: white; /* Color del texto del botón */
    cursor: pointer;
    width: 100%;
    padding: 3%;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 0;
    font-family: Revalia, serif;
    font-size: 1vw;
}

#submit:hover {
    background-color: rgb(200, 150, 50);
}



/* Nueva regla para alinear en la misma fila */
.flex-container {
    display: flex;
    gap: 8px; /* Espacio entre los elementos */
    height: auto;
}

.hola {
    display: none;
}

/* Display del recuadro que contiene la informacion que sale al completarse el registro exitosamente */
#reserva_exito {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 60%;
    align-items: center;
}

/* Parametros de imagen */
#reserva_exito img {
    max-width: 50%;
    height: auto;
    margin-bottom: 20px;   
}

/* Estilos para el boton de continuar con la compra */
#boton_exito {
    background-color: #B7495E; /* Color de fondo amarillo */
    color: white; /* Color del texto en rojo */
    padding: 10px 50px 10px 50px;
    border: 1px solid black;
    border-radius: 25px; /* Borde circular */
    cursor: pointer;
    font-family: Inter, Arial, serif;
    font-weight: bold;
    font-size: 16px;
}

#boton_exito:hover {
    background-color: #643943; /* Cambia el color de fondo al pasar el ratón */
}

/* Seccion de breakpoints para la pagina en version movil/tableta */
@media (max-width: 600px) {
    #book_table_container {
        height: 40vh;
        width: 80%;
        margin-top: 50%;
    }

    #book_table_container h2 {
        font-size: 1em;
    }
}
